
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
_bin/
[Dd]ebug/
*.lib
*.sbr
*.chw
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
temp/

AppMetrics/App_Data/
AppMetrics/log.txt
AppMetrics.AnalyticsSite/App_Data/

_data/
_nuget/
_package/

~$*
