<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Windows" />

    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <system.webServer>
    <modules>

      <add name="CustomBasicAuthenticationModule" type="AppMetrics.WebUtils.BasicAuthenticationModule"/>
      
      <!-- these items are necessary to apply authentication to static files -->
      <remove name="FormsAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
      <remove name="UrlAuthorization" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <remove name="DefaultAuthentication" />
      <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />
      
    </modules>
  </system.webServer>

  <location path="setup">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="CreateUser.aspx"> <!-- this page can be called from the localhost only (checked programmatically) -->
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="plugins">
    <system.webServer>
      <directoryBrowse enabled="true" />
    </system.webServer>
  </location>

</configuration>
