<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataStoragePath" value="~/App_Data"/>
    <add key="CheckDataUrl" value="http://localhost:62147/GetReport.ashx?Application=YOUR_APP_NAME&amp;Type=LatencySummaries&amp;SliceByLocation=Countries"/>
  </appSettings>
</configuration>