<?xml version="1.0"?>

<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authorization>
      <deny users="?" />
    </authorization>

    <authentication mode="Windows" />
    
  </system.web>

  <system.webServer>
    <modules>
      <add name="CustomBasicAuthenticationModule" type="AppMetrics.WebUtils.BasicAuthenticationModule"/>
    </modules>
  </system.webServer>

</configuration>
