{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Parameters": {
        "InstanceTypeAgents": {
            "Description": "Agents EC2 instance type",
            "Type": "String",
            "Default": "m1.small",
            "AllowedValues": [
                "t1.micro",
                "m1.small",
                "m1.medium",
                "m1.large",
                "m1.xlarge",
                "m2.xlarge",
                "m2.2xlarge",
                "m2.4xlarge",
                "m3.xlarge",
                "m3.2xlarge",
                "c1.medium",
                "c1.xlarge",
                "cg1.4xlarge"
            ],
            "ConstraintDescription": "must be a valid EC2 instance type."
        },
        "ElasticIPAddress": {
            "Type": "String",
            "Description": "The designated Elastic IP Address (EIP) for the single agent."
        },
        "MetricsTLD": {
            "Type": "String",
            "Description": "The AppMetrics Top Level Domain (TLD) where the server resides (yields http://metrics.{MetricsTLD}).",
            "Default": "cil.stack.me"
        },
        "SpotPriceAgents": {
            "Type": "Number",
            "Description": "Spot price for agents to start.",
            "Default": "0.02"
        },
        "KeyName": {
            "Description": "Name of an existing EC2 key pair to enable remote access to the instance",
            "Type": "String",
            "Default": "labs-commander"
        },
        "MetricsAgentUsername": {
            "Description": "Username of the local user for the metrics agent",
            "Type": "String",
            "Default": "MetricsAgent"
        },
        "MetricsAgentPassword": {
            "Description": "Password of the local user for the metrics agent",
            "Type": "String",
            "Default": "WhiteRice2"
        }
    },
    "Mappings": {
        "RegionMapAgents": {
            "us-east-1": {
                "AMI": "ami-5f42c036"
            },
            "us-west-1": {
                "AMI": "ami-5eb7961b"
            },
            "us-west-2": {
                "AMI": "ami-1679f126"
            },
            "eu-west-1": {
                "AMI": "ami-8e969bfa"
            },
            "sa-east-1": {
                "AMI": "ami-9fc41c82"
            },
            "ap-northeast-1": {
                "AMI": "ami-2210a823"
            },
            "ap-southeast-1": {
                "AMI": "ami-b8f8bbea"
            },
            "ap-southeast-2": {
                "AMI": "ami-a740d79d"
            }
        }
    },
    "Resources": {
        "IAMUser": {
            "Type": "AWS::IAM::User",
            "Properties": {
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "CloudFormation",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": "CloudFormation:DescribeStackResource",
                                    "Resource": "*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "IAMUserAccessKey": {
            "Type": "AWS::IAM::AccessKey",
            "Properties": {
                "UserName": {
                    "Ref": "IAMUser"
                }
            }
        },
        "AppMetricsSG": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "GroupDescription": "Remote Access Security Group",
                "SecurityGroupIngress": [
                    {
                        "IpProtocol": "icmp",
                        "FromPort": "3",
                        "ToPort": "4",
                        "CidrIp": "0.0.0.0/0"
                    },
                    {
                        "IpProtocol": "tcp",
                        "FromPort": "3389",
                        "ToPort": "3389",
                        "CidrIp": "0.0.0.0/0"
                    }
                ]
            }
        },
        "ICMPIngressSGSelf": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupName": {
                    "Ref": "AppMetricsSG"
                },
                "IpProtocol": "icmp",
                "FromPort": "-1",
                "ToPort": "-1",
                "SourceSecurityGroupName": {
                    "Ref": "AppMetricsSG"
                }
            }
        },
        "TCPIngressSGSelf": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupName": {
                    "Ref": "AppMetricsSG"
                },
                "IpProtocol": "tcp",
                "FromPort": "0",
                "ToPort": "65535",
                "SourceSecurityGroupName": {
                    "Ref": "AppMetricsSG"
                }
            }
        },
        "UDPIngressSGSelf": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupName": {
                    "Ref": "AppMetricsSG"
                },
                "IpProtocol": "udp",
                "FromPort": "0",
                "ToPort": "65535",
                "SourceSecurityGroupName": {
                    "Ref": "AppMetricsSG"
                }
            }
        },
        "RDPIngressSGSelf": {
            "Type": "AWS::EC2::SecurityGroupIngress",
            "Properties": {
                "GroupName": {
                    "Ref": "AppMetricsSG"
                },
                "IpProtocol": "tcp",
                "FromPort": "3389",
                "ToPort": "3389",
                "SourceSecurityGroupName": {
                    "Ref": "AppMetricsSG"
                }
            }
        },
        "AgentsLC": {
            "Type": "AWS::AutoScaling::LaunchConfiguration",
            "Metadata": {
                "AWS::CloudFormation::Init": {
                    "config": {
                        "files": {
                            "c:\\cfn\\cfn-credentials": {
                                "content": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "AWSAccessKeyId=",
                                            {
                                                "Ref": "IAMUserAccessKey"
                                            },
                                            "\n",
                                            "AWSSecretKey=",
                                            {
                                                "Fn::GetAtt": [
                                                    "IAMUserAccessKey",
                                                    "SecretAccessKey"
                                                ]
                                            },
                                            "\n"
                                        ]
                                    ]
                                }
                            },
                            "c:\\cfn\\cfn-hup.conf": {
                                "content": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "[main]\n",
                                            "stack=",
                                            {
                                                "Ref": "AWS::StackName"
                                            },
                                            "\n",
                                            "credential-file=c:\\cfn\\cfn-credentials\n",
                                            "region=",
                                            {
                                                "Ref": "AWS::Region"
                                            },
                                            "\n"
                                        ]
                                    ]
                                }
                            },
                            "c:\\cfn\\hooks.d\\cfn-auto-reloader.conf": {
                                "content": {
                                    "Fn::Join": [
                                        "",
                                        [
                                            "[cfn-auto-reloader-hook]\n",
                                            "triggers=post.update\n",
                                            "path=Resources.AgentsLC.Metadata.AWS::CloudFormation::Init\n",
                                            "action=cfn-init.exe --verbose --stack ",
                                            {
                                                "Ref": "AWS::StackName"
                                            },
                                            " --resource AgentsLC",
                                            " --credential-file c:\\cfn\\cfn-credentials",
                                            " --region ",
                                            {
                                                "Ref": "AWS::Region"
                                            },
                                            "\n"
                                        ]
                                    ]
                                }
                            }
                        },
                        "packages": {
                            "msi": {
                                "pscx": "https://cfn-labs-cityindex-com-us-east-1.s3.amazonaws.com/files/Pscx-3.0.0.msi"
                            }
                        },
                        "sources": {
                            "c:\\install\\Carbon": "https://cfn-labs-cityindex-com-us-east-1.s3.amazonaws.com/files/Carbon-0.5.0.0.zip"
                        }
                    }
                }
            },
            "Properties": {
                "IamInstanceProfile": "AppMetrics",
                "ImageId": {
                    "Fn::FindInMap": [
                        "RegionMapAgents",
                        {
                            "Ref": "AWS::Region"
                        },
                        "AMI"
                    ]
                },
                "InstanceType": {
                    "Ref": "InstanceTypeAgents"
                },
                "KeyName": {
                    "Ref": "KeyName"
                },
                "SecurityGroups": [
                    {
                        "Ref": "AppMetricsSG"
                    }
                ],
                "SpotPrice": {
                    "Ref": "SpotPriceAgents"
                },
                "UserData": {
                    "Fn::Base64": {
                        "Fn::Join": [
                            "",
                            [
                                "<powershell>\n",
                                "cfn-init.exe --verbose --stack ",
                                {
                                    "Ref": "AWS::StackName"
                                },
                                " --resource AgentsLC",
                                " --access-key ",
                                {
                                    "Ref": "IAMUserAccessKey"
                                },
                                " --secret-key ",
                                {
                                    "Fn::GetAtt": [
                                        "IAMUserAccessKey",
                                        "SecretAccessKey"
                                    ]
                                },
                                " --region ",
                                {
                                    "Ref": "AWS::Region"
                                },
                                "\n",
                                "$region = '",
                                {
                                    "Ref": "AWS::Region"
                                },
                                "'",
                                "\n",
                                "$username = '",
                                {
                                    "Ref": "MetricsAgentUsername"
                                },
                                "'",
                                "\n",
                                "$password = '",
                                {
                                    "Ref": "MetricsAgentPassword"
                                },
                                "'",
                                "\n",
                                "$metricsTLD = '",
                                {
                                    "Ref": "MetricsTLD"
                                },
                                "'",
                                "\n",
                                "$elasticIPAddress = '",
                                {
                                    "Ref": "ElasticIPAddress"
                                },
                                "'",
                                "\n",
                                "Import-Module C:\\install\\Carbon\\Carbon",
                                "\n",
                                "Import-Module Pscx",
                                "\n",
                                "Install-User -Username $username -Password $password",
                                "\n",
                                "Add-GroupMembers -Name Administrators -Members $username",
                                "\n",
                                "Add-GroupMembers -Name 'Performance Monitor Users' -Members $username",
                                "\n",
                                "$publicHostname = Invoke-RestMethod http://169.254.169.254/latest/meta-data/public-hostname",
                                "\n",
                                "$domainParts = $publicHostname.Split('.')",
                                "\n",
                                "$agentName =  'aws-' + $region +'-' + $domainParts[0]",
                                "\n",
                                "$metricsURL =  'http://metrics.' + $metricsTLD",
                                "\n",
                                "$configURL =  'http://config.metrics.' + $metricsTLD",
                                "\n",
                                "$data = $publicHostname + ',' + $username + ',' + $password + ',' + $agentName",
                                "\n",
                                "cfn-signal.exe --data $data --exit-code $LASTEXITCODE ",
                                {
                                    "Fn::Base64": {
                                        "Ref": "AgentsRemoteAccessWCH"
                                    }
                                },
                                "\n",
                                "$instanceId = Invoke-RestMethod http://169.254.169.254/latest/meta-data/instance-id",
                                "\n",
                                "Register-EC2Address -InstanceId $instanceId -PublicIp $elasticIPAddress -Region $region",
                                "\n",
                                "</powershell>"
                            ]
                        ]
                    }
                }
            }
        },
        "AgentsASG": {
            "Type": "AWS::AutoScaling::AutoScalingGroup",
            "Version": "2009-05-15",
            "Properties": {
                "AvailabilityZones": {
                    "Fn::GetAZs": ""
                },
                "LaunchConfigurationName": {
                    "Ref": "AgentsLC"
                },
                "MinSize": "1",
                "DesiredCapacity": "1",
                "MaxSize":  "1",
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": {
                            "Fn::Join": [
                                "",
                                [
                                    {
                                        "Ref": "AWS::StackName"
                                    },
                                    " [Agent]"
                                ]
                            ]
                        },
                        "PropagateAtLaunch": "true"
                    },
                    {
                        "Key": "isLatencyCollector",
                        "Value": "true",
                        "PropagateAtLaunch": "true"
                    }
                ]
            }
        },
        "AgentsRemoteAccessWCH": {
            "Type": "AWS::CloudFormation::WaitConditionHandle"
        },
        "AgentsRemoteAccessWC": {
            "Type": "AWS::CloudFormation::WaitCondition",
            "DependsOn": "AgentsASG",
            "Properties": {
                "Handle": {
                    "Ref": "AgentsRemoteAccessWCH"
                },
                "Timeout": "1920",
                "Count":  "1"
            }
        }
    },
    "Outputs": {
        "AgentsRemoteAccess": {
            "Value": {
                "Fn::GetAtt": [
                    "AgentsRemoteAccessWC",
                    "Data"
                ]
            },
            "Description": "The assembled agents remote access info passed back as part of signalling the WaitCondition."
        }
    }
}
