<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- This is to avoid HTML-validation of data posted to the LogEvent handler -->
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="None" />
  </system.web>

  <system.webServer>
    <modules>
      <add name="CustomBasicAuthenticationModule" type="AppMetrics.WebUtils.BasicAuthenticationModule"/>
    </modules>
  </system.webServer>

	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	
  <location path="LogEvent.ashx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="CreateUser.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>