<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- This is to avoid HTML-validation of data posted to the LogEvent handler -->
    <httpRuntime requestValidationMode="2.0" />
  </system.web>

  <system.webServer>
    <modules>
      <add name="BasicAuthenticationModule" type="AppMetrics.BasicAuthenticationModule"/>
    </modules>
  </system.webServer>
  
  <location path="LogEvent.ashx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="DataService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webBinding" contract="DataService" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>

</configuration>